<div class="sidebar">
  <ul class="sidebar-menu">
    <li>
      <a routerLink="/properties" routerLinkActive="active">
        Properties
      </a>
    </li>
    <li>
      <a routerLink="/owners" routerLinkActive="active">
        Owners
      </a>
    </li>
    <li>
      <a routerLink="/tenants" routerLinkActive="active">
        Tenants
      </a>
    </li>
    <li>
      <a routerLink="/payments" routerLinkActive="active">
        Payments
      </a>
    </li>
    <li>
      <a routerLink="/inquiries" routerLinkActive="active">
        Inquiries
      </a>
    </li>
  </ul>
</div>